<div style="z-index: 20; position:absolute; width: 100%; text-align: center; top: 50%; margin-top: -225px;">
  <div class="myBox">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="container" style="display: inline-block;";>
          <div style="display: inline-block; text-align: center; ">
            <div style="padding:20px;">
              <%= link_to(image_tag("/assets/logoMergedWhiteEye.svg", :class => "logo", :size => "150x150", :alt => "SolarEyes Logo"), "/home") %>
            </div>
          </div>
          <br>
        <div class="welcome">
          <div class="row" >
            <div style="display: inline-block;" >
              <p style="padding-left:15px; padding-right:15px;">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>