<div style="z-index: 20; position:absolute; width: 100%; text-align: center; top: 50%; margin-top: -225px;">
  <div class="myBox">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="container" style="display: inline-block;";>
          <div style="display: inline-block; text-align: center; ">
            <div style="padding:20px;">
              <%= link_to(image_tag("/assets/logoMergedWhiteEye.svg", :class => "logo", :size => "150x150", :alt => "SolarEyes Logo"), "/home") %>
            </div>
          </div>
          <br>
        <div class="welcome">
          <div class="row" >
            <div style="display: inline-block;" >
              <p style="padding-left:15px; padding-right:15px;">SolarEyes' mission is to shed light on the most abundant natural resource known to man and how the sun can diminish our global dependency on fossil fuels.</p>
              <p style="padding-left:15px; padding-right:15px;"> Using the solar index of each state we calculate the barrels of oil saved by the amount of solar panels you decide. Our data is based on the average size system installed in the US in 2012.  &nbsp; <span class="glyphicon glyphicon-leaf" style="color:#00AB01"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>