<div style="z-index: 20; position:absolute; width: 100%; text-align: center; top: 50%; padding-top:120px; margin-top: -375px;">
  <div class="pvwatts">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="container" style="display: inline-block;";>
        <div class="welcome">
          <div style="display: inline-block;" >
            <p style="padding-left:15px; padding-right:15px;"><h3>NREL's PVWatts Calculator</h3>Estimates the energy production and cost of energy of grid-connected photovoltaic (PV) energy systems throughout the world. It allows homeowners, small building owners, installers and manufacturers to easily develop estimates of the performance of potential PV installations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br>
  <div class="cleantechnica">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="container" style="display: inline-block;";>
        <div class="data">
          <div style="display: inline-block;" >
            <p style="padding-left:15px; padding-right:15px;"><h3>CleanTechnica</h3><h4>Average Size of Solar in the United States</h4>CleanTechnica's website strives to be the most indispensable site on the planet for cleantech news and commentary.</p>
            <p>CleanTechnica has been covering the cleantech industry obsessively since 2008, before it was popular for mainstream media to dedicate blogs or subdomains to the topic. And we are now a well-recognized leader in this field.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>