/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;

  background-image: -ms-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 485, color-stop(0, #73B7EB), color-stop(.9, #3277BA));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: radial-gradient(circle farthest-side at center top, #73B7EB 0%, #3277BA 90%);
}
