@font-face{font-family: 'Glyphicons';
  src:url('glyphicons-regular.eot');
  src:url('glyphicons-regular.eot?#iefix') format('glyphicons-regular-opentype'),
    url('glyphicons-regular.svg#icomoon') format('svg'),
    url('glyphicons-regular.woff') format('woff'),
    url('glyphicons-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}.glyphicons:before{font-family:'Glyphicons';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased}.glyphicon-sun:before{content:"\2609"}