<div class="navbar navbar-fixed-bottom">
    <div class="nav-collapse collapse pull-right">
              <div class="container" style="margin:15px;">
        <p class="text-muted credit">Created by <a href="mailto:christinetcoulter@gmail.com?Subject=NewsCloud">Christine Coulter</a> and <a href="mailto:nicklombardi@gmail.com?Subject=NewsCloud">Nick Lombardi</a></p>
      </div>

      </div><!--/.nav-collapse -->
</div>