<div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home" style="margin-top:-9px"><%= image_tag("/assets/logoMerged.svg", :alt => "SolarEyes Logo") %>
      </a>
      <div class="nav-collapse collapse">
      <a class="navbar-brand" href="/home">SolarEyes</a>
        <ul class="nav navbar-nav">
          <li><a href="/">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#signup">Sign up</a></li>
          <li class="active"><a href="#login">Log in</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>